<!doctype html>

<html>

<head>

<!-- Meta data -->

	<meta charset="utf-8">

<!-- Stylesheets -->

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

<!-- Javascript libraries -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>



<body>

<div data-role="page">
<!--The Page Content-->
<div class="container">

	<div class="row">
		<div id="websiteInfo" class="col-md-12">
			<a href="/" data-ajax="false" ><h1>THE POLYGLOT PROJECT</h1></a>
			<p>Building some awesomeness in the form of crowd sourcing transcription and translation</p>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<p>About Us</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>Edinburgh yaaaay!!</p>
			<p>GitHub</p>
			<p>Twitter</p>
		</div>
	</div>

</div>
</div>
<!-- The Javascript apps-->

<script>



</script>

</body>

</html>