<!doctype html>

<html>

<head>

<!-- Meta data -->

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Stylesheets -->

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Leaflet/Leaflet.draw/master/dist/leaflet.draw.css" />

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

<!-- Javascript libraries -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <script src="javascripts/leaflet-iiif.js"></script>

	<script src="https://cdn.rawgit.com/Leaflet/Leaflet.draw/master/dist/leaflet.draw.js"></script>


</head>



<body>

<!--The Page Content-->
<div data-role="main" class="ui-content">
<div id="main page" class="container polyanno-page-body">

<div class="row ">

	<div class="col-md-2">

		<div class=" row ed-poly-header-obj">

        	<a href="/" class="ed-poly-header-obj">
        		<object class="polyanno-logo-menu-icon" data="stylesheets/images/AnnoSVGHTML.svg" type="image/svg+xml"></object>
        	</a>

			<div class="dropdown ed-poly-header-obj">

			  <button class="btn polyanno-dropdown-menu polyanno-dropdown-menu-left dropdown-toggle" type="button" id="poly-ed-title-menu" onclick="if ($('.polyanno-dropdown-menu-items-left').css('display')=='none') { $('.polyanno-dropdown-menu-items-left').css('display','block'); } else { $('.polyanno-dropdown-menu-items-left').css('display','none'); } " >
			    
			    <span class="caret"></span>

			  </button>
			  
			</div>

			<div class="polyanno-user-menu-item-obj polyanno-dropdown-menu-items-left">
				<a class="polyanno-user-menu-item"  href="/aboutus">About Us</a>
			</div>

			<div class="polyanno-user-menu-item-obj polyanno-dropdown-menu-items-left">
				<a class="polyanno-user-menu-item "  href="/beginnertutorial">Tutorial</a>
			</div>

		</div>
	</div>

	<div class="col-md-8" >

		<div class="tutorialCarousel carousel slide" data-interval="false">

			<div class="tutorialCarouselWrapper carousel-inner" role="listbox">

				<!--Intro-->
			    <div class="item active ">
			    	<div class="jumbotron">
			    		<p>Welcome to the start of your annotating adventure! Wooooo!</p>
			    	</div>
			    </div>

			    <!--Find Text-->
			    <div class="item ">
			    	<div class="row">
			    		<div class="col-md-4"><div id="findTextMap"></div></div>
			    		<div class="col-md-4"></div>
			    		<div class="col-md-4">
			    			<p>So we appear to have found a lovely picture here that appears to have some writing in it! Hooray! But no one has marked on the picture where the words are. Use the marker buttons (currently highlighted in yellow for you) to select the words on the page.</p>
			    		</div>
			    	</div>
			    	<!--test if within coordinates and alert too large or too small or nowhere near-->
			    </div>

			    <!--Add New Transcription-->
			    <div class="item ">
			    	<div class="row">
			    		<div class="col-md-4"><div id="addNewMap"></div></div>
			    		<div class="col-md-4"></div>
			    		<div class="col-md-4">
			    			<p>Well done on adding your first marker!</p> 
			    			<p>Once a marker is added to a picture you can then start to add information about it. Click on the marker to see that a menu opens to let you do things with either the transcriptions (writing what you see on the page) or the translations for that section. Select the transcription!</p>
			    			<p>No one has written a transcription for this marker so it looks like you'll have to add one yourself - write in the box what you see written in the marker and click the submit button to see what happens next!</p>
			    		</div>
			    	</div>
			    	<!--add new transcription-->
			    </div>

				<!--Open Existing Transcription and Edit a Selection-->
			    <div class="item ">
			    	<div class="row">
			    		<div class="col-md-4"><div id="changeSelectiontMap"></div></div>
			    		<div class="col-md-4"></div>
			    		<div class="col-md-4">
			    			<p>So here is the document again but this time someone has already made the marker and if you click on it and select transcription you'll see that they have already added a transcription too.</p>
			    			<p>Now unlike before you'll see that you cannot add a new transcription - but what if you disagree with what was written? Can you see the word "gastropub" where it should be "gastrobob" instead? Select the incorrect word in the editor box! You'll see another popup menu but this time in the editor. You can do the same thing as before and view the transcription.</p>
			    			<p>Of course this time you'll notice that we already have one existing transcription with the word "gastropub" but if you select the "add new" button or scroll through the editor panes then you will get to the same add new page as before. In here add the corrected word of "gastrobob" and submit!</p>
			    		</div>
			    	</div>			   
			    	<!--Select any bit you disagree with-->
			    	<!--If they select translation, link vector, or voting then display message to hold up and stick with transcription-->
			    	<!--Open and submit alternative transcription-->
			    </div>

				<!--Voting-->
			    <div class="item ">
			    	<div class="row">
			    		<div class="col-md-4"><div id="votingMap"></div></div>
			    		<div class="col-md-4"></div>
			    		<div class="col-md-4">
			    			<p>Hoorah! We corrected it! ...But did we? </p>
			    		</div>
			    	</div>
			    	<!--Explain that it hasn't replaced it and explain that's because they both have no votes-->
			    	<!--Open the existing selection and open to view the two different versions and upvote yours-->
			    	<!--If they select new fragment, translation, link vector, or vote the existing one then display message to hold up -->
			    </div>

				<!--Link Marker-->
			    <div class="item ">
			    	<div class="row">
			    		<div class="col-md-4"><div id="linkMarkerMap"></div></div>
			    		<div class="col-md-4"></div>
			    		<div class="col-md-4"></div>
			    	</div>
			    	<!--Notice that it has now replaced in the parent text but where on the image is this section?-->
			    	<!--preopen the section and link marker-->
			    	<!--If they select new fragment, translation, or voting then display message to hold up -->
			    </div>

				<!--An unknown document-->
			    <div class="item ">
			    	<div class="row">
			    		<div class="col-md-4"><div id="crazyTextMap"></div></div>
			    		<div class="col-md-4"></div>
			    		<div class="col-md-4"></div>
			    	</div>
			    	<!--Come across and image you cannot make heads or tails of? No worries!!-->
			    	<!--You can skip the image of a cave painting-->
			    	<!--If they do anything but skip then alert-->
			    </div>

				<!--Filters-->
			    <div class="item ">
			    	<div class="row">
			    		<div class="col-md-12">
			    			<div class="dropdown ed-poly-header-obj">
			  	<button class="btn polyanno-dropdown-menu polyanno-dropdown-menu-left dropdown-toggle" type="button" id="poly-ed-filters-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    	Filters
			    	<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu form-group filter-form" aria-labelledby="poly-ed-filters-menu">
				    <li class="filter">
						<input type="search" placeholder="Search Images" class="poly-ed-search "><button class="poly-ed-search-submit"><span> Search </span></button>
					</li>
				    <li class="filter">
						<p>Dates</p>
						<span>From  </span><input class="poly-ed-startYear" type="number"><span> To </span><input class="poly-ed-endYear" type="number" max="2016" >
					</li>
				    <li class="filter">
				    	<span>Languages  </span> <span> <input type="text" class="poly-ed-languages-filter"></span>
					</li>
				    <li class="filter">
	    				<span>Transcription Difficulty  </span>
						<span><div class="form-group">
						  <select class="form-control" id="poly-ed-TranscriptionDifficulty">
						    <option>Easy</option>
						    <option>Medium</option>
						    <option>Difficult</option>
						  </select>
						</div></span>
					</li>
					<li class="filter">
						<span>Translation Difficulty</span>
						<span><div class="form-group">
						  <select class="form-control" id="poly-ed-TranslationDifficulty">
						    <option>Easy</option>
						    <option>Medium</option>
						    <option>Difficult</option>
						  </select>
						</div></span>
					</li>
			  	</ul>
			</div>

			    		</div>
			    	</div>
			    	<div class="row">
			    		<div class="col-md-12">
			    			<p>You can make it easier to avoid future crazy texts by filtering your results! Practice by choosing some filters from the example menu above and clicking the 'Filter Me' button</p>
			    		</div>
			    	</div>
			    	<!--You can help yourself avoid difficult images by using the filters at the top and on your profile so that the selection coming up is what you want-->
			    	<!--Cannot always get it right though!-->
			    	<!--Select some filters and click next-->
			    </div>

				<!--The End-->
			    <div class="item ">
			    	<div class="jumbotron">
			    		<h1>Well done!! Wooooo!!</h1>
			    		<p>You're all finished - congratulations!</p>
			    	</div>
			    	<!--Well done! All finished!-->
			    	<!--Exit Tutorial-->
			    </div>
			</div>

		</div>

		<div >
			<button class="polyanno-tutorial-control polyanno-tutorial-control-left" onclick="$('.tutorialCarousel').carousel('prev')" >
				<span class="glyphicon glyphicon-chevron-left" ></span>
			</button>
			<button class="polyanno-tutorial-control polyanno-tutorial-control-right" onclick="$('.tutorialCarousel').carousel('next')">
				<span class="glyphicon glyphicon-chevron-right" ></span>
			</button>

		</div>

	</div>

<div class="col-md-2">

			<div class="row ed-poly-header">

				<div class="dropdown">

			        <button href="#" class="dropdown-toggle btn polyanno-dropdown-menu polyanno-dropdown-menu-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			        	<div >
		          			<img class="polyanno-user-icon " src="http://placekitten.com/g/200/200">
		          		</div>
		          		<div >
			          		<span class="caret"></span>
			          	</div>
			        </button>

			        <ul class="dropdown-menu polyanno-dropdown-menu polyanno-dropdown-menu-items polyanno-dropdown-menu-items-right-all"">

			          	<li class="polyanno-user-menu-item-obj">
			          		<a href="#" class="polyanno-user-username polyanno-user-menu-item polyanno-dropdown-menu-items-right">
			          			<span class="ed-poly-username ">Jane Blogg</span>
			          		</a>
			          	</li>

			            <li class="polyanno-user-menu-item-obj">
			            	<a href="#" class="polyanno-user-favourites polyanno-user-menu-item polyanno-dropdown-menu-items-right">
			            		<span class='glyphicon glyphicon-star '></span>
			            		<span >  Favourites</span>
			            	</a>
			            </li>
			            <li class="polyanno-user-menu-item-obj">		
			            	<a href="#" class="polyanno-user-activity polyanno-user-menu-item polyanno-dropdown-menu-items-right">
			            		<span class='glyphicon glyphicon-tasks '></span>
			            		<span >  Activity</span>
			            	</a>
			            </li>

			            <li role="separator" class="divider"></li>
			            <li class="polyanno-user-menu-item-obj">
			            	<a class="polyanno-user-signout polyanno-user-menu-item polyanno-dropdown-menu-items-right" href="#">Sign Out</a>
			            </li>

			        </ul>

	    		</div>
			</div>
		</div>

	</div>

</div>

</div>
</div>

<div id="popupBoxes">

<!--- popovers here -->

	<!-- ADD NEW EDITOR BOX -->
	<div id="addnewEditor" class="textEditorBox">
		<div class="popupBoxHandlebar"><span class="closePopupBtn glyphicon glyphicon-remove"></span></div>
		<div data-role="main" class="textEditorMainBox ui-content">
		  	<h2 class="editorTitle"></h2>
			<div class="addneweditorCarousel carousel slide" data-interval="false">
				<!-- Wrapper for slides -->
				<div class="addneweditorCarouselWrapper carousel-inner" role="listbox">
				    <div class='item addNewItem'> 
				    	<div class='selectfrgContainer'> 
				    		<h3>Add New</h3> 
				    		<textarea class='newAnnotation' rows='5'></textarea><br>
				    		<button type='button' class='btn addAnnotationSubmit'>SUBMIT</button><br>   
				    	</div>  
				    </div>

				</div>
			</div>
		</div>
	</div>

	<!-- SELECT FRAG EDITOR BOX -->
	<div id="selectfragEditor" class="textEditorBox">
		<div class="popupBoxHandlebar"><span class="closePopupBtn glyphicon glyphicon-remove"></span></div>
		<div data-role="main" class="textEditorMainBox ui-content">
		  	<h2 class="editorTitle"></h2>
			<div class="selectfrageditorCarousel carousel slide" data-interval="false">
				<div class="selectfrageditorCarouselWrapper carousel-inner" role="listbox">
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>
									Neutra iPhone heirloom flannel fixie. Godard disrupt umami lo-fi, migas artisan skateboard cardigan gastropub retro mixtape echo park authentic. Hella trust fund gastropub, everyday carry meditation typewriter bicycle rights neutra mumblecore thundercats hashtag biodiesel.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SELECTED FRAG EDITOR BOX -->
	<div id="selectedfragEditor" class="textEditorBox">
		<div class="popupBoxHandlebar"><span class="closePopupBtn glyphicon glyphicon-remove"></span></div>
		<div data-role="main" class="textEditorMainBox ui-content">
		  	<h2 class="editorTitle"></h2>
			<div class="selectedfrageditorCarousel carousel slide" data-interval="false">
				<div class="selectedfrageditorCarouselWrapper carousel-inner" role="listbox">
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>
									Neutra iPhone heirloom flannel fixie. Godard disrupt umami lo-fi, migas artisan skateboard cardigan gastropub retro mixtape echo park authentic. Hella trust fund <a>gastropub</a>, everyday carry meditation typewriter bicycle rights neutra mumblecore thundercats hashtag biodiesel.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ADD ALTERNATIVE EDITOR BOX -->
	<div id="addalternativeEditor" class="textEditorBox">
		<div class="popupBoxHandlebar"><span class="closePopupBtn glyphicon glyphicon-remove"></span></div>
		<div data-role="main" class="textEditorMainBox ui-content">
		  	<h2 class="editorTitle"></h2>
			<div class="addalternativeeditorCarousel carousel slide" data-interval="false">
				<div class="addalternativeeditorCarouselWrapper carousel-inner" role="listbox">
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>gastropub</p>
							</div>
							<div >
								<button type='button' class='btn btn-default voteBtn votingUpButton'>
									<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true' ></span>
								</button>
								<button type='button' class='btn btn-default votesUpBadge'>
									<span class='badge'></span>
								</button>
							</div>
						</div>
					</div>
				    <div class='item addNewItem'> 
				    	<div class='addNewContainer'> 
				    		<h3>Add New</h3> 
				    		<textarea class='newAnnotation' rows='5'></textarea><br>
				    		<button type='button' class='btn addAnnotationSubmit'>SUBMIT</button><br>   
				    	</div>  
				    </div>
				</div>
				<a class="left carousel-control" href=".addalternativeeditorCarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href=".addalternativeeditorCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				</a>
			</div>
			<button type="button" class="btn btn-success addNewBtn">ADD NEW</button>
			<button type='button' class='btn linkBtn'>Link Vector</button><br>
		</div>
	</div>

	<!-- VOTING EDITOR BOX -->
	<div id="votingEditor" class="textEditorBox">
		<div class="popupBoxHandlebar"><span class="closePopupBtn glyphicon glyphicon-remove"></span></div>
		<div data-role="main" class="textEditorMainBox ui-content">
		  	<h2 class="editorTitle"></h2>
			<div class="votingeditorCarousel carousel slide" data-interval="false">
				<div class="votingeditorCarouselWrapper carousel-inner" role="listbox">
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>gastropub</p>
							</div>
							<div >
								<button type='button' class='btn btn-default voteBtn votingUpButton'>
									<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true' ></span>
								</button>
								<button type='button' class='btn btn-default votesUpBadge'>
									<span class='badge'></span>
								</button>
							</div>
						</div>
					</div>
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>gastrobob</p>
							</div>
							<div >
								<button type='button' class='btn btn-default voteBtn votingUpButton'>
									<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true' ></span>
								</button>
								<button type='button' class='btn btn-default votesUpBadge'>
									<span class='badge'></span>
								</button>
							</div>
						</div>
					</div>
				    <div class='item addNewItem'> 
				    	<div class='addNewContainer'> 
				    		<h3>Add New</h3> 
				    		<textarea class='newAnnotation' rows='5'></textarea><br>
				    		<button type='button' class='btn addAnnotationSubmit'>SUBMIT</button><br>   
				    	</div>  
				    </div>
				</div>
				<a class="left carousel-control" href=".votingeeditorCarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href=".votingeditorCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				</a>
			</div>
			<button type="button" class="btn btn-success addNewBtn">ADD NEW</button>
			<button type='button' class='btn linkBtn'>Link Vector</button><br>
		</div>
	</div>

	<!-- VOTING EDITOR BOX -->
	<div id="votedEditor" class="textEditorBox">
		<div class="popupBoxHandlebar"><span class="closePopupBtn glyphicon glyphicon-remove"></span></div>
		<div data-role="main" class="textEditorMainBox ui-content">
		  	<h2 class="editorTitle"></h2>
			<div class="votededitorCarousel carousel slide" data-interval="false">
				<div class="votededitorCarouselWrapper carousel-inner" role="listbox">
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>gastropub</p>
							</div>
							<div >
								<button type='button' class='btn btn-default voteBtn votingUpButton'>
									<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true' ></span>
								</button>
								<button type='button' class='btn btn-default votesUpBadge'>
									<span class='badge'></span>
								</button>
							</div>
						</div>
					</div>
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>gastrobob</p>
							</div>
							<div >
								<button type='button' class='btn btn-default voteBtn votingUpButton'>
									<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true' ></span>
								</button>
								<button type='button' class='btn btn-default votesUpBadge'>
									<span class='badge'>1</span>
								</button>
							</div>
						</div>
					</div>
				    <div class='item addNewItem'> 
				    	<div class='addNewContainer'> 
				    		<h3>Add New</h3> 
				    		<textarea class='newAnnotation' rows='5'></textarea><br>
				    		<button type='button' class='btn addAnnotationSubmit'>SUBMIT</button><br>   
				    	</div>  
				    </div>
				</div>
				<a class="left carousel-control" href=".votededitoreditorCarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href=".votededitoreditorCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				</a>
			</div>
			<button type="button" class="btn btn-success addNewBtn">ADD NEW</button>
			<button type='button' class='btn linkBtn'>Link Vector</button><br>
		</div>
	</div>

	<!-- UPDATED FRAG EDITOR BOX -->
	<div id="updatedfragEditor" class="textEditorBox">
		<div class="popupBoxHandlebar"><span class="closePopupBtn glyphicon glyphicon-remove"></span></div>
		<div data-role="main" class="textEditorMainBox ui-content">
		  	<h2 class="editorTitle"></h2>
			<div class="updatedfrageditorCarousel carousel slide" data-interval="false">
				<div class="updatedfrageditorCarouselWrapper carousel-inner" role="listbox">
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>
									Neutra iPhone heirloom flannel fixie. Godard disrupt umami lo-fi, migas artisan skateboard cardigan gastropub retro mixtape echo park authentic. Hella trust fund <a >winning</a>, everyday carry meditation typewriter bicycle rights neutra mumblecore thundercats hashtag biodiesel.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- LINKED EDITOR BOX -->
	<div id="linkedEditor" class="textEditorBox">
		<div class="popupBoxHandlebar"><span class="closePopupBtn glyphicon glyphicon-remove"></span></div>
		<div data-role="main" class="textEditorMainBox ui-content">
		  	<h2 class="editorTitle"></h2>
			<div class="linkededitorCarousel carousel slide" data-interval="false">
				<div class="linkededitorCarouselWrapper carousel-inner" role="listbox">
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>gastropub</p>
							</div>
							<div >
								<button type='button' class='btn btn-default voteBtn votingUpButton'>
									<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true' ></span>
								</button>
								<button type='button' class='btn btn-default votesUpBadge'>
									<span class='badge'></span>
								</button>
							</div>
						</div>
					</div>
					<div class='item active pTextDisplayItem' > 
						<div class='pTextDisplay'> 
							<div class='well well-lg'> 
								<p class='content-area' title=' '>gastrobob</p>
							</div>
							<div >
								<button type='button' class='btn btn-default voteBtn votingUpButton'>
									<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true' ></span>
								</button>
								<button type='button' class='btn btn-default votesUpBadge'>
									<span class='badge'>1</span>
								</button>
							</div>
						</div>
					</div>
				    <div class='item addNewItem'> 
				    	<div class='addNewContainer'> 
				    		<h3>Add New</h3> 
				    		<textarea class='newAnnotation' rows='5'></textarea><br>
				    		<button type='button' class='btn addAnnotationSubmit'>SUBMIT</button><br>   
				    	</div>  
				    </div>
				</div>
				<a class="left carousel-control" href=".linkededitorCarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href=".linkededitorCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				</a>
			</div>
			<button type="button" class="btn btn-success addNewBtn">ADD NEW</button>
		</div>
	</div>

</div>
</div>

<script src="javascripts/beginnertutorial.js"></script>

</body>

</html>