<!doctype html>

<html>

<head>

<!-- Meta data -->

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Stylesheets -->

    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Leaflet/Leaflet.draw/master/dist/leaflet.draw.css" />

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

<!-- Javascript libraries -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <script src="javascripts/leaflet-iiif.js"></script>

	<script src="https://cdn.rawgit.com/Leaflet/Leaflet.draw/master/dist/leaflet.draw.js"></script>


<!-- 
	Will eventually use Browserify and bundle all final packages.
	For now though I keep changing so I'm using node_module paths for most instead until packages are more finalised and tidied up more. WIll use it for node standard packages http, fs, stream etc though.
-->

<!--	<script src="javascripts/bundle.js"></script> -->


</head>



<body>

<!--The Page Content-->
<div class="container">

<div class="row">
	<div id="websiteInfo" class="col-md-12">
		<h1>THE POLYGLOT PROJECT</h1>
		<p>Testing IIIF and Leaflet Illustrate combo </p>
	</div>
</div>

<div class="row">

	<div id="imageViewer" class="col-md-4">
		<div id="map"></div>
	</div>

	<div id="transcriptionViewer" class="col-md-4">
		<div class="meta-form"></div>
		<div class="transcription-text">
			<h2>Transcription</h2>
			<textarea >bdhfjbjhdfgskjjda</textarea>
		</div>
		    <p>Add New</p>
		    <input type="TEXT" id="transcription" size="40"><br>
		    <input type="button" id="addTranscriptionSubmit" value="Submit">
	</div>

	<div id="translationViewer" class="col-md-4">
		<div class="meta-form"></div>
		<div class="translation-text">
			<h2>Translation</h2>
			<textarea >bkjdafhsdfjhjsd</textarea>
		</div>
	</div>

</div>

</div>

<!-- The Javascript apps-->

<!--	<script src="javascripts/annotator.min.js"></script>	-->

<script src="javascripts/app.js"></script>

</body>

</html>