<!doctype html>

<html>

<head>

<!-- Meta data -->

	<meta charset="utf-8">

<!-- Stylesheets -->

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

<!-- Javascript libraries -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>



<body>

<div data-role="page">
<!--The Page Content-->
<div class="container">

	<div class="row">
		<div id="websiteInfo" class="col-md-12">
			<h1>THE POLYGLOT PROJECT</h1>
			<p>Testing IIIF and Leaflet Illustrate combo </p>
		</div>

	</div>

	<div class="row">

		<div class="col-md-4">
			<div></div>
			<a href="/theimage" class="openImage" id="http://ids.lib.harvard.edu/ids/iiif/25286610/info.json" >Open to annotate an image</a>

		</div>


		<div  class="col-md-4">
			<div></div>
			<a class="openImage" id="http://ids.lib.harvard.edu/ids/iiif/25286610/info.json" >Or another one</a>


			  <div data-role="main" class="ui-content">

			    <a href="#myPopupDialog" data-rel="popup" data-position-to="window" data-transition="fade" class="ui-btn ui-corner-all ui-shadow ui-btn-inline">Open Dialog Popup</a>

			    <div data-role="popup" id="myPopupDialog">

			      <div data-role="main" class="ui-content">
			        <h2>Welcome to my Popup Dialog!</h2>
			        <p>jQuery Mobile is FUN!</p>
			        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-icon-back ui-btn-icon-left" data-rel="back">Go Back</a>
			      </div>

			    </div>

			  </div>


		</div>


		<div class="col-md-4">


		</div>


	</div>

</div>
</div>
<!-- The Javascript apps-->

<script>

	var currentImage;
	var currentSite = window.location.href;
	var imagePageURL = currentSite.concat("theimagesearch/open");

	var openImage = function(image) {
		$.ajax({
		   type: "POST",
		   url: imagePageURL,
		   data: {image_id: image}
		});
	};

	$('.openImage').on("click", function(event) {
	  	event.stopPropagation();
	  	currentImage = event.target.id;
	  	openImage(currentImage);
	});

</script>

</body>

</html>