<!doctype html>

<html>

<head>

<!-- Meta data -->

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Stylesheets -->

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Leaflet/Leaflet.draw/master/dist/leaflet.draw.css" />

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

<!-- Javascript libraries -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <script src="javascripts/leaflet-iiif.js"></script>

	<script src="https://cdn.rawgit.com/Leaflet/Leaflet.draw/master/dist/leaflet.draw.js"></script>


</head>



<body>

<!--The Page Content-->
<div data-role="main" class="ui-content">
<div id="main page" class="container">

<div class="row">
	<div id="websiteInfo" class="col-md-12">
		<a href="/" data-ajax="false" ><h1>THE POLYGLOT PROJECT</h1></a>
		<p>Building some awesomeness in the form of crowd sourcing transcription and translation</p><br>
	</div>

</div>
<div class="row">
<div class="col-md-12">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Filters
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
		<div class="form-group filter-form">
			<div class="row filter">
				<div class="col-md-4"><span>Languages  </span> <span> <input type="text"></span></div>
				<div class="col-md-8"><p>Dates</p><span>From  </span><input type="number"><span> To </span><input type="number" max="2016" ></div>
			</div>

			<div class="row filter difficulties">

				<div class="col-md-4">
					<span>Transcription Difficulty  </span>
					<span><div class="form-group">
					  <select class="form-control" id="sel1">
					    <option>Easy</option>
					    <option>Medium</option>
					    <option>Difficult</option>
					  </select>
					</div></span>
				</div>

				<div class="col-md-4">
					<span>Translation Difficulty</span>
					<span><div class="form-group">
					  <select class="form-control" id="sel1">
					    <option>Easy</option>
					    <option>Medium</option>
					    <option>Difficult</option>
					  </select>
					</div></span>
				</div>

				<div class="col-md-4"><span>Search  </span><input type="search"><button class=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div>

			</div>

			<div class="row filter difficulties">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<button type="button" class="btn filterBtn">Filter Me</button>
				</div>
				<div class="col-md-3"></div>
			</div>

		</div>	

    </li>
  </ul>
</div>
</div>
</div>

<div class="row" id="page_body">

	<div class="displayCarousel carousel slide" data-interval="false">

		<!-- Wrapper for slides -->
		<div class="displayCarouselWrapper carousel-inner" role="listbox">

		    <div class='item active iframe-slide'><iframe src='/theimage'></iframe></div>
		    <div class='item iframe-slide'><iframe src='/theimage'></iframe></div>
		    <div class='item iframe-slide'><iframe src='/theimage'></iframe></div>
		    <div class='item iframe-slide'><iframe src='/theimage'></iframe></div>
		    <div class='item iframe-slide'><iframe src='/theimage'></iframe></div>

		</div>

		  <!-- Left and right controls -->
		<a class="left carousel-control openImage" href=".displayCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href=".displayCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		</a>

	</div>

</div>

</div>

<div id="popupBoxes">

<!--- popovers here -->

</div>
</div>

<!-- exported app functions here-->
<script src="javascripts/scrolling.js"></script>

</body>

</html>