<!doctype html>

<html>

<head>

<!-- Meta data -->

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Stylesheets -->

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css"> 

    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Leaflet/Leaflet.draw/master/dist/leaflet.draw.css" />

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

<!-- Javascript libraries -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script> 
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <script src="javascripts/leaflet-iiif.js"></script>

	<script src="https://cdn.rawgit.com/Leaflet/Leaflet.draw/master/dist/leaflet.draw.js"></script>

<!-- 
	Will eventually use Browserify and bundle all final packages.
	For now though I keep changing so I'm using node_module paths for most instead until packages are more finalised and tidied up more. WIll use it for node standard packages http, fs, stream etc though.
-->

<!--	<script src="javascripts/bundle.js"></script> -->


</head>



<body>

<!--The Page Content-->
<div data-role="main" class="ui-content">
<div id="main page" class="container">

<div class="row">
	<div id="websiteInfo" class="col-md-12">
		<a href="/" data-ajax="false" ><h1>THE POLYGLOT PROJECT</h1></a>
		<p>Building some awesomeness in the form of crowd sourcing transcription and translation</p><br>
	</div>

</div>

<div class="row" id="page_body">

<!-- Image Viewer Panel -->

	<div id="imageViewer" class="col-md-4">
		<div id='map'></div>
	</div>

<!-- First Viewer Box -->

	<div class="viewerBox col-md-8">
		<div id="ViewerBox1" class="row">
			<div class="col-md-4"></div>
		</div>
	</div>


</div>

</div>

<div id="popupBoxes">

	<!-- EDITOR BOX -->
	<div id="theEditor" class="textEditorBox">

		<div class="popupBoxHandlebar"><button type="BUTTON" class="closePopupBtn btn">X</button></div>

		<div data-role="main" class="textEditorMainBox ui-content">

		  	<h2 class="editorTitle"></h2>

			<div class="editorCarousel carousel slide" data-interval="false">

				<!-- Wrapper for slides -->
				<div class="editorCarouselWrapper carousel-inner" role="listbox">

				    <div class="item addNewItem">
				      	<div class="addNewContainer">
						    <h3>Add New</h3>
						    <textarea class="newAnnotation" rows="5"></textarea><br>
						    <button type="button" class="btn addAnnotationSubmit">SUBMIT</button><br>		
						</div>
				    </div>

				    <!--appended transcription slides go here-->

				</div>

				  <!-- Left and right controls -->
				<a class="left carousel-control" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				</a>

			</div>

			<button type="button" class="btn btn-success addNewBtn">ADD NEW</button>

		</div>

	</div>

	<!-- Link Vector Popup Menu -->
	<div data-role="popup"  id="popupLinkVectorMenu" data-arrow="t,b">
	  <div data-role="main" class="ui-content">
	  	<p>Select an existing vector or create a new one on the image for this text selection</p>
	  </div>
	</div>

	<!-- New Transcription Text Select Popup Menu -->
	<div data-role="popup"  id="popupTranscriptionNewMenu" data-arrow="t,b">
	  <div data-role="main" class="ui-content">
	  	<a class="openTranscriptionMenuNew transcriptionTarget ui-btn ui-corner-all ui-shadow ui-btn-inline">ADD NEW TRANSCRIPTION</a>
	  </div>
	</div>

	<!-- New Translation Text Select Popup Menu -->
	<div data-role="popup"  id="popupTranslationNewMenu" data-arrow="t,b">
	  <div data-role="main" class="ui-content">
	  	<a class="openTranslationMenuNew translationTarget ui-btn ui-corner-all ui-shadow ui-btn-inline">ADD NEW TRANSLATION</a>
	  </div>
	</div>	

	<!-- Children Transcription Text Select Popup Menu-->
	<div data-role="popup" id="popupTranscriptionChildrenMenu" data-arrow="t,b">
	  <div data-role="main" class="ui-content">
	  	<a class="openTranscriptionMenuOld ui-btn ui-corner-all ui-shadow ui-btn-inline">VIEW OTHER TRANSCRIPTIONS</a>
	  </div>
	</div>

	<!-- Children Translation Text Select Popup Menu -->

</div>

</div>

<!-- The Javascript apps for every page-->
<script src="javascripts/app.js"></script>

</body>

</html>