
th {
  color: grey;
  font-weight: lighter;
  padding: 2px;
}

td {

}

#fullunicodesupportkeyboard {

}

.keyRow {
  
}

.sameWidth {
  width: 6.25%;
  height: 100%;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
}

.c {
  text-align: center;
}

.languageChoice {
  margin: 10px;
}

.keyboardHandlebar {
  height: 20px;
  width: 100%;
  background-color: grey;
}

.chars {
  
}

.theKeys {
  border: 1px solid black;
  border-radius: 10px;
}
