
#websiteInfo{
	height: 10%;
}

#map{

	height: 500px;
}

#popupBoxes {
	display: none;
}

#ViewerBox1{
	height: 500px;
}

.filter {
	margin: 20px;
}

.popupAnnoMenu {
	

}
.iframe-slide {
	width: 90%;
	height: 1000px;
	margin: 50px;
}

iframe {
	width: 90%;
	height: 80%;
	margin: 20px;
}

.textEditorPopup {
	height: 500px;
	background-color: white;
	z-index: 1000;
}
.popupBoxHandlebar {
  background-color: buttonface;
  border-radius: 5px;
}

.polyanno-options-row {
  background-color: grey;
  padding: 5px;
  font-size: 0.875em;
  width: 100%;
  display: none;
}

.textEditorMainBox {
	height: 480px;
}
.addNewContainer {
	margin: 40px;
}
.openTranscriptionChildrenPopup {
	background-color:yellow;
	font-weight: normal;
	color: black;
}

.pTextDisplay{
	margin: 50px;
}

.polyanno-editor-title-row {
	padding: 5%;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}