
#websiteInfo{
	height: 10%;
}

#map{

	height: 500px;
}

#transcriptionViewer{

	
}

#translationViewer{

	
}

#ViewerBox1{
	height: 500px;
}

#ViewerBox2{
	height: 500px;
}

#transcriptionCarousel{
	
}

.pTextDisplay{
	height: 300px;
	width: 300px;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.transcription-text {
	margin: 50px;
}