
#websiteInfo{
	height: 10%;
}

#map{

	height: 500px;
}

#popupBoxes {
	display: none;
}

#ViewerBox1{
	height: 500px;
}

.filter {
	margin: 20px;
}

.iframe-slide {
	width: 90%;
	height: 1000px;
	margin: 50px;
}

iframe {
	width: 90%;
	height: 80%;
	margin: 20px;
}

.annoPopup {
  	border: 1px solid grey;
	border-radius: 5px;
}

.textEditorPopup {
	background-color: white;
	z-index: 1000;
}
.popupBoxHandlebar {
  background-color: buttonface;
  border-radius: 5px 5px 0px 0px;
}

.polyanno-image {
  background-color: buttonface;
  border-radius: 5px;	
}

.polyanno-options-row {
  background-color: grey;
  padding: 5px;
  font-size: 0.875em;
  width: 100%;
  display: none;
}

.addNewContainer {
	padding: 5%;
}

.newAnnotation {
	width: 100%;
}

.pTextDisplay{
	padding: 5%;
}

.polyanno-anno-well {
	text-align: center;
}

.openTranscriptionChildrenPopup {
	background-color:yellow;
	font-weight: normal;
	color: black;
}

.editorTitle {
	font-size: 1.5em;
	color: white;
	text-align: center;
}

.polyanno-carousel-controls {
	padding: 2%;
}


